.albums {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.albums__title {
  text-align: center;
  margin-bottom: 30px;
}

.album-card {
  text-align: center;
  width: 164px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.album-card__img-wrap {
  width: 164px;
  margin: 0 auto 20px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  padding: 3px;
}

.album-card__img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  vertical-align: top;
}

.album-card__info p {
  margin-bottom: 10px;
}
