.tracks__title-artist, .tracks__title-album {
  margin-bottom: 15px;
}

.tracklist {
  max-width: 500px;
}

.tracklist__item {
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.tracklist__item_left-col {
  display: flex;
  gap: 30px;
  align-items: center;
}

.tracklist__play-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(179,93,227,1);
  border-radius: 50%;
  transition: scale 0.1s;
}

.tracklist__play-btn:before {
  position: absolute;
  left: 55%;
  top: 52%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid #07bb07;
  transition: scale 0.1s;
}

.tracklist__play-btn:hover {
  border-color: rgb(196, 122, 239);
}

.tracklist__play-btn:hover:before {
  border-left-color: #0ed30e;
}

.tracklist__play-btn:active {
  transform: scale(0.97);
}

.tracklist__track-name:hover{
  text-decoration: underline;
}

.tracklist__item:last-child {
  margin-bottom: 0;
}